  body {
  background: #056839 url('../img/header.jpg') no-repeat center center;
  background-size: 100% 100%;
  width: 100%;
  height:100%;
  }


 /* .wood-pad{
  height: 50%; 
  width: 100%; 
  top padding: 100px;
  float:right;
  }*/