/*  body {
  background: #056839 url('../img/header.jpg') no-repeat center center;
  background-size: 100% 100%;
  width: 100%;
  height:100%;
  }
*/
.wood-pad{
display: inline;
max-width: 100%;
width:1000px;
height: 400px;
position: center;
bottom:0;

}

.text-area{
width: 100%;
height:100%;
z-index: -1;

}

.header-size{
  display: inline;
  max-width: 100%;
  width:100%;
  position: top;
  bottom:0;

  }

.burgler-size{
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  top-padding: 100px;
}

.punk-size{
  width: 100px;
  height:100px;
  margin-left: auto;
  margin-right: 100px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.janitor-size{
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: 100px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#background {
  background-size: 100% 100%;
  height: 500px;
  background: #FFF url("../img/wood.png") no-repeat center center;
  padding-top: 50px;
}

.openingParagraph {
  margin-left: 50px;
  margin-right: 50px;
  font-size: 20px;
}

h1 {
  text-align: center;
}

p {
  font-style: bold;
  font-size: 30px;
}
/*bgcolor="#056839"*/

/*#noTextOnClick {
  visibility: visible;
}*/

#aquarium {
  display: none;
}
#aquariumEducation{
  display: none;
}

#safari {
  display: none;
}
#safariEducation {
  display: none;
}

#jungle {
  display: none;
}
#jungleEducation {
  display: none;
}

#pettingZoo {
  display: none;
}
#pettingZooEducation {
  display: none;
}

#elephantEnclosure {
  display: none;
}
#elephantEducation {
  display: none;
}

#monkeyEnclosure {
  display: none;
}
#monkeyEducation {
  display: none;
}

#reptileEnclosure {
  display: none;
}
#reptileEducation {
  display: none;
}

#lionEnclosure {
  display: none;
}
#lionEducation {
  display: none;
}

#beekeeperHouse {
  display: none;
}
#beekeeperEducation {
  display: none;
}

#birdEnclosure {
  display: none;
}
#birdEducation {
  display: none;
}

#janitor {
  display: none;
}

.image{
  width: 300px;
  height: 300px;
}


