.wood-pad{
  display: inline;
  max-width: 100%;
  width:1000px;
  height: 400px;
  position: center;
  bottom:0;

}

.row {
  display: inline;
  position: center;
  max-width: 75%;
  width:10px;
  height:100%;
  z-index: -1;

}

.text-area{
  width: 100%;
  height:100%;
  z-index: -1;

}

.footer-style{
  position:absolute;
  font-size: 12px;
  width: 100% ;
  height: 75px ;
  background: #6dc08b;
}

.header-size{
  display: inline;
  max-width: 100%;
  width:100%;
  position: top;
  bottom:0;
  background: #6dc08b;  

  }

  .button
{
    background-color: #0c8542;
    margin-top: 10px;
    color: white;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
    font-size: 16px;
    border: 1px solid #6dc08b;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.19);
 
}

#btnSpace{
  margin-left:10px;
}

.burglar-size{
  width: 80px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  top-padding: 100px;

}

.punk-size{
  width: 80px;
  height: 80px;
  margin-left: auto;
  margin-right: 100px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.janitor-size{
  width: 80px;
  height: 80px;
  margin-left: auto;
  margin-right: 100px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#background {
  background-size: cover;
  height: 500px;
  max-width: 100%;
  background: #6dc08b url("../img/wood.png") no-repeat center center;
  padding-top: 30px;
}

.openingParagraph {
  margin-left: 50px;
  margin-right: 50px;
  font-size: 16px;
}




h1 {
  text-align: center;
  color: #0c8542;
}

h3 {
  text-align: center;
  font-size: 30px;
}

p {
  font-size: 16px;
  color: black;
}

#aquarium {
  display: none;
}
#aquariumEducation{
  display: none;
}

#safari {
  display: none;
}
#safariEducation {
  display: none;
}

#jungle {
  display: none;
}
#jungleEducation {
  display: none;
}

#pettingZoo {
  display: none;
}
#pettingZooEducation {
  display: none;
}

#elephantEnclosure {
  display: none;
}
#elephantEducation {
  display: none;
}

#monkeyEnclosure {
  display: none;
}
#monkeyEducation {
  display: none;
}

#reptileEnclosure {
  display: none;
}
#reptileEducation {
  display: none;
}

#lionEnclosure {
  display: none;
}
#lionEducation {
  display: none;
}

#beekeeperHouse {
  display: none;
}
#beekeeperEducation {
  display: none;
}

#birdEnclosure {
  display: none;
}
#birdEducation {
  display: none;
}

#janitor {
  display: none;
}

.image{
  width: 300px;
  height: 300px;
}
.displayScore {
  text-align: center;
  color: black;
}

div#fixedBananaScore {
    position: absolute;
    opacity: 0.75;
    top: 95px;
    text-align: center;
    right: 200px;
    width: 150px;
    height: 50px;
    background: white;
    padding: 3px;
    border: 3px solid black;
}

div#fixedHealthScore {
    position: absolute;
    opacity: .75;
    top: 95px;
    text-align: center;
    right: 30px;
    width: 150px;
    height: 50px;
    background: white;
    padding: 3px;
    border: 3px solid black;
}


